




/*<!--Bonjour, ceci est mon tout premier site après m'être formé avec des cours en ligne. 
Il doit sûrement comporter de nombreuses erreurs ou non-optimisations mais je suis amené à m'améliorer ! 
Soyez indulgent et la critique constructive est la bienvenue par mail (pascal.mannoni.13@gmail.com)! Merci d'avance et bonne lecture :)*/



/*============Choix police============*/
@font-face 
{
    font-family: 'thepolice';
    src: url('polices\thepolice.eot') format('eot'),
         url('polices\thepolice.woff') format('woff'),
         url('polices\thepolice.ttf') format('truetype'),
         url('polices\thepolice.otf') format('otf');
}



/*============Background============*/


#plein
{
	background-color: #141414;
}

#index
{
	background-image: none;
	padding: none;
}



/*============Zone de texte============*/
#blocpage
{
	padding-left: 30px;
	padding-right: 30px;
}
#padding 
{
	padding-left: 30px;
	padding-right: 30px;
}

body 
{
	background-color: #141414;
   font-family: 'polices\thepolice', Arial;
   color: white;
   background-image: url("images/background.jpg");
   background-repeat: no-repeat;
  	margin: 0;
	padding: 0;
   background-size: 100%, auto;
   display: flex;
   flex-direction: column;
}



/*============Entête============*/

header
{
	display: flex;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(20,20,20,100));
}

header img
{
	margin-left: 30px;
	width: 250px;
	height: 10%;
	margin-top: 10px;
}

header ul 
{
	display: flex;
	list-style-type: none;
	width: 100%;
}

#menudroite
{
	display: inline-block;
	position: absolute;
	top:  0%;
	right:  0%;
	display: flex;
	align-items: center;	
}

#menudroite .miniphoto
{
	width: 32px;
	height: 32px;
	border-radius: 7px;
}

#menudroite .triangle
{
	width: 12px;
	height: 8px;
	align-items: center;

}
#menudroite	p
{
	padding-right: 15px;
	text-align: right;
}

#menugauche a
{
	text-decoration: none;
	color: white;
}

#menugauche a:hover
{
	color: grey;
}

#menugauche li
{
	padding-right: 5%;
}



/*============Choix profil page1============*/
h1
{
	color: white;
	font-weight: unset;
	text-align: center;
	font-size: 60px;
}

.profil1
{
   border: 3px #141414 solid;
   border-radius: 7px;
}

#profils
{
	color: grey;
	display: flex;
	list-style-type: none;
	justify-content: center;
   text-align: center;	
}

#profils li
{
	margin-right: 30px;   
}

#profils a
{
   text-decoration: none;
   color: grey;
}

#profils a:hover
{
   color: white;
}

.profil1:hover
{
	border: 3px white solid;
	color: white;
}



/*============Présentation page2============*/
#présentation
{
	margin-top: 150px;
	padding-bottom: 200px;
	width: 40%;
}

#présentation img
{
	width: 100%;
}



/*============Rubriques CV page2============*/
#section1 img, #section2 img, #section3 img
{
	width: 15%;
	height: 15%;
	border: 3px rgba(0, 0, 0, 0) solid;
}

#section1 img:hover, #section2 img:hover, #section3 img:hover
{
	border: 3px white solid;
}

#section3
{
	margin-bottom: 200px;
}



/*============Pop-up============*/
.modal
{
	display: none;
	opacity: 0;
	transition: 0.5s;
}

.modal:target
{
	display: flex;
	opacity: 1;
}

.modal_content
{
	position: absolute;
	background-color: #141414;
	width: auto;
	height: auto;
	padding: 15px;
	margin-right: ;
	box-shadow: 0px 0px 20px black;
	border-radius: 7px;
	font-weight: normal;
	white-space: nowrap;
}

.modal_content span
{
	color: green;
}

.modal_content h3
{
	font-weight: bolder;
}

.modal_content h4
{
	font-weight: bolder;
}

.modal_content ol 
{
	font-weight: normal;
}

.modal_close
{
	position: absolute;
	right: 15px;
	top: 15px;
	text-decoration: none;
	color: white;
}



/*============Responsive============*/
@media all and (max-width: 1024px)
{
   h1
   {
       font-size: 200%; 
   }

   li
   {
   	width: 20%;
   	margin-right: 5%;
   	font-size: 90%;
   }

   li img
   {
   	width: 100%;
   }

   header img
	{
		width: 20%;
		height: 5%;
	}

	#section1 img, #section2 img, #section3 img
	{
		width: 40%;
		height: 40%;
		border: 3px #141414 solid;
	}

	.modal_content
	{
		background-color: #141414;
		width: auto;
		margin-right: 30px;
		height: auto;
		border-radius: 7px;
		font-size: 1.5em;
	}

	#menudroite
	{
		display: none;
	}

	#présentation
	{
		margin-top: 250px;
		padding-bottom: 20px;
		width: 100%;
	}
	
}
